@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html{
        /* Font smoothing */
    -webkit-font-smoothing: antialiased; /* For WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    
    /* Text rendering */
    text-rendering: optimizeLegibility; /* Enhances legibility */
    color: #fff;
}
body {
      font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    background-color: #03072a;
}
.container {
  max-width: max(80%, 900px);
  margin: 60px auto;
  color: #9de3ff;
  padding: 20px;
  line-height: 1;
  border: solid 1px #ffffff12;
  border-radius:10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(120px);
  -webkit-backdrop-filter: blur(120px); /* For iOS Safari */
  transition: 0.5s;
   max-width: 700px;
   width: 95%;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('bg.png') center / cover no-repeat;
}

a {
    text-decoration:none;
}
p {
    text-align: center;
}

h1 {
    margin: 20px;
    color:#fff;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 15px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    background: rgba(19, 19, 19, 0.52);
    max-width: 70vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
    background-color: rgba(0, 172, 239, 0.45);
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    display: block;
}

button[type="submit"]:hover {
    background-color: rgb(26, 50, 182);
}

ul {
    list-style: inside;
    padding: 0;
    margin: 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

li {
    padding: 10px;
    background-color: #00000047;
    border-radius: 10px;
    margin-bottom: 15px;
}

li a {
    text-decoration: none;
    color: #c8c8c8;
}

li a:hover {
    color: #23527c;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-danger {
    background: #f8d7da;
    color: #721c24;
}

.alert-success {
    background: #d4edda;
    color: #155724;
}

.passform {
    border-radius: 25px;
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.06);
    margin: auto;
    padding: 5vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(120px);
    border: 2px solid #0a6c9c;
    width: 400px;
    max-width: 60vw;
    margin-top: 40px;
}

.button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 18pt;
    color: #fff;
    border-radius: 50px;
    margin-top: 40px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    backdrop-filter: blur(20px);
    border: 2px solid #0a6c9c;
    background-color: #00000005;
}

.button:hover {
    background-color: #0070ff1c;
    transform: scale(1.05);
}

.button:active {
    background-color: #84a3ff99;
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.input {
    padding: 15px 5px;
    text-align: center;
    font-size: 18pt;
    width: 100pt;
    border-radius: 10px;
    color: #ffffff;
    background-color: transparent;
    border: ridge;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    display: block;
}


.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%2303072a%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%22131.947%22 cy=%22100.697%22 rx=%221.395%22 ry=%221.204%22 fill=%22%23fff%22 opacity=%22.569%22%2F%3E%3Cellipse cx=%22242.777%22 cy=%2296.886%22 rx=%221.715%22 ry=%221.259%22 fill=%22%23fff%22 opacity=%22.574%22%2F%3E%3Cellipse cx=%22584.563%22 cy=%22110.532%22 rx=%222.054%22 ry=%221.684%22 fill=%22%23fff%22 opacity=%22.276%22%2F%3E%3Cellipse cx=%22753.379%22 cy=%2217.842%22 rx=%221.928%22 ry=%221.875%22 fill=%22%23fff%22 opacity=%22.373%22%2F%3E%3Cellipse cx=%22922.87%22 cy=%2283.972%22 rx=%221.33%22 ry=%221.007%22 fill=%22%23fff%22 opacity=%22-.079%22%2F%3E%3Cellipse cx=%221007.373%22 cy=%22.152%22 rx=%222.154%22 ry=%221.975%22 fill=%22%23fff%22 opacity=%22.338%22%2F%3E%3Cellipse cx=%221333.449%22 cy=%2279.43%22 rx=%221.488%22 ry=%221.334%22 fill=%22%23fff%22 opacity=%22.118%22%2F%3E%3Cellipse cx=%221416.107%22 cy=%2286.172%22 rx=%221.958%22 ry=%221.802%22 fill=%22%23fff%22 opacity=%22-.072%22%2F%3E%3Cellipse cx=%221607.389%22 cy=%2240.808%22 rx=%221.788%22 ry=%221.357%22 fill=%22%23fff%22 opacity=%22.304%22%2F%3E%3Cellipse cx=%221887.464%22 cy=%22129.717%22 rx=%221.287%22 ry=%221.202%22 fill=%22%23fff%22 opacity=%22.424%22%2F%3E%3Cellipse cx=%2269.561%22 cy=%22266.292%22 rx=%221.224%22 ry=%221.115%22 fill=%22%23fff%22 opacity=%22.669%22%2F%3E%3Cellipse cx=%22355.024%22 cy=%22217.94%22 rx=%221.809%22 ry=%221.78%22 fill=%22%23fff%22 opacity=%22-.122%22%2F%3E%3Cellipse cx=%22446.832%22 cy=%22267.483%22 rx=%222.089%22 ry=%221.688%22 fill=%22%23fff%22 opacity=%22.293%22%2F%3E%3Cellipse cx=%22702.117%22 cy=%22262.692%22 rx=%221.42%22 ry=%221.219%22 fill=%22%23fff%22 opacity=%22.728%22%2F%3E%3Cellipse cx=%22986.33%22 cy=%22229.523%22 rx=%221.204%22 ry=%221.006%22 fill=%22%23fff%22 opacity=%22.776%22%2F%3E%3Cellipse cx=%221122.791%22 cy=%22149.733%22 rx=%221.438%22 ry=%221.333%22 fill=%22%23fff%22 opacity=%22-.095%22%2F%3E%3Cellipse cx=%221267.622%22 cy=%22256.094%22 rx=%222.011%22 ry=%221.609%22 fill=%22%23fff%22 opacity=%22-.11%22%2F%3E%3Cellipse cx=%221577.914%22 cy=%22190.328%22 rx=%221.937%22 ry=%221.571%22 fill=%22%23fff%22 opacity=%22-.243%22%2F%3E%3Cellipse cx=%221616.325%22 cy=%22203.817%22 rx=%222.191%22 ry=%221.819%22 fill=%22%23fff%22 opacity=%22.346%22%2F%3E%3Cellipse cx=%221819.951%22 cy=%22249.603%22 rx=%221.456%22 ry=%221.316%22 fill=%22%23fff%22 opacity=%22.699%22%2F%3E%3Cellipse cx=%22121.123%22 cy=%22392.141%22 rx=%221.167%22 ry=%221.046%22 fill=%22%23fff%22 opacity=%22.386%22%2F%3E%3Cellipse cx=%22361.787%22 cy=%22379.545%22 rx=%221.8%22 ry=%221.649%22 fill=%22%23fff%22 opacity=%22.807%22%2F%3E%3Cellipse cx=%22511.453%22 cy=%22398.678%22 rx=%222.062%22 ry=%221.998%22 fill=%22%23fff%22 opacity=%22.08%22%2F%3E%3Cellipse cx=%22798.567%22 cy=%22299.265%22 rx=%221.825%22 ry=%221.327%22 fill=%22%23fff%22 opacity=%22.19%22%2F%3E%3Cellipse cx=%22838.617%22 cy=%22323.718%22 rx=%221.297%22 ry=%221.133%22 fill=%22%23fff%22 opacity=%22-.052%22%2F%3E%3Cellipse cx=%221176.304%22 cy=%22403.381%22 rx=%221.766%22 ry=%221.622%22 fill=%22%23fff%22 opacity=%22.078%22%2F%3E%3Cellipse cx=%221275.33%22 cy=%22280.032%22 rx=%221.528%22 ry=%221.298%22 fill=%22%23fff%22 opacity=%22.874%22%2F%3E%3Cellipse cx=%221456.195%22 cy=%22399.211%22 rx=%221.629%22 ry=%221.271%22 fill=%22%23fff%22 opacity=%22.338%22%2F%3E%3Cellipse cx=%221791.86%22 cy=%22300.083%22 rx=%221.842%22 ry=%221.71%22 fill=%22%23fff%22 opacity=%22-.001%22%2F%3E%3Cellipse cx=%221868.831%22 cy=%22304.485%22 rx=%221.547%22 ry=%221.063%22 fill=%22%23fff%22 opacity=%22.115%22%2F%3E%3Cellipse cx=%221.244%22 cy=%22507.902%22 rx=%221.729%22 ry=%221.609%22 fill=%22%23fff%22 opacity=%22.085%22%2F%3E%3Cellipse cx=%22360.861%22 cy=%22492.191%22 rx=%222.255%22 ry=%221.764%22 fill=%22%23fff%22 opacity=%22.392%22%2F%3E%3Cellipse cx=%22436.622%22 cy=%22471.943%22 rx=%221.425%22 ry=%221.136%22 fill=%22%23fff%22 opacity=%22.633%22%2F%3E%3Cellipse cx=%22621.6%22 cy=%22548.311%22 rx=%221.477%22 ry=%221.261%22 fill=%22%23fff%22 opacity=%22.082%22%2F%3E%3Cellipse cx=%22958.839%22 cy=%22468.482%22 rx=%221.472%22 ry=%221.366%22 fill=%22%23fff%22 opacity=%22.178%22%2F%3E%3Cellipse cx=%221023.308%22 cy=%22542.812%22 rx=%221.924%22 ry=%221.529%22 fill=%22%23fff%22 opacity=%22.221%22%2F%3E%3Cellipse cx=%221303.276%22 cy=%22467.348%22 rx=%221.771%22 ry=%221.552%22 fill=%22%23fff%22 opacity=%22.305%22%2F%3E%3Cellipse cx=%221573.084%22 cy=%22532.43%22 rx=%222.427%22 ry=%221.961%22 fill=%22%23fff%22 opacity=%22.305%22%2F%3E%3Cellipse cx=%221725.61%22 cy=%22436.245%22 rx=%221.908%22 ry=%221.579%22 fill=%22%23fff%22 opacity=%22.043%22%2F%3E%3Cellipse cx=%221883.797%22 cy=%22470.259%22 rx=%221.801%22 ry=%221.667%22 fill=%22%23fff%22 opacity=%22.483%22%2F%3E%3Cellipse cx=%22178.961%22 cy=%22625.632%22 rx=%222.082%22 ry=%221.648%22 fill=%22%23fff%22 opacity=%22-.067%22%2F%3E%3Cellipse cx=%22366.287%22 cy=%22614.476%22 rx=%221.39%22 ry=%221.299%22 fill=%22%23fff%22 opacity=%22.323%22%2F%3E%3Cellipse cx=%22503.421%22 cy=%22654.291%22 rx=%222.194%22 ry=%221.913%22 fill=%22%23fff%22 opacity=%22.238%22%2F%3E%3Cellipse cx=%22684.302%22 cy=%22598.772%22 rx=%221.638%22 ry=%221.521%22 fill=%22%23fff%22 opacity=%22.073%22%2F%3E%3Cellipse cx=%22832.557%22 cy=%22688.401%22 rx=%221.702%22 ry=%221.617%22 fill=%22%23fff%22 opacity=%22.121%22%2F%3E%3Cellipse cx=%221121.049%22 cy=%22674.762%22 rx=%221.416%22 ry=%221.283%22 fill=%22%23fff%22 opacity=%22.531%22%2F%3E%3Cellipse cx=%221240.639%22 cy=%22576.16%22 rx=%221.702%22 ry=%221.659%22 fill=%22%23fff%22 opacity=%22.053%22%2F%3E%3Cellipse cx=%221533.228%22 cy=%22569.329%22 rx=%221.323%22 ry=%221.185%22 fill=%22%23fff%22 opacity=%22.182%22%2F%3E%3Cellipse cx=%221765.064%22 cy=%22587.815%22 rx=%221.626%22 ry=%221.244%22 fill=%22%23fff%22 opacity=%22.271%22%2F%3E%3Cellipse cx=%221830.479%22 cy=%22573.397%22 rx=%221.64%22 ry=%221.542%22 fill=%22%23fff%22 opacity=%22.434%22%2F%3E%3Cellipse cx=%22180.25%22 cy=%22828.649%22 rx=%221.308%22 ry=%221.079%22 fill=%22%23fff%22 opacity=%22.239%22%2F%3E%3Cellipse cx=%22369.092%22 cy=%22732.207%22 rx=%221.978%22 ry=%221.647%22 fill=%22%23fff%22 opacity=%22.181%22%2F%3E%3Cellipse cx=%22486.644%22 cy=%22777.572%22 rx=%221.892%22 ry=%221.758%22 fill=%22%23fff%22 opacity=%22.173%22%2F%3E%3Cellipse cx=%22722.872%22 cy=%22705.367%22 rx=%221.587%22 ry=%221.417%22 fill=%22%23fff%22 opacity=%22.583%22%2F%3E%3Cellipse cx=%22905.323%22 cy=%22714.877%22 rx=%221.687%22 ry=%221.653%22 fill=%22%23fff%22 opacity=%22.664%22%2F%3E%3Cellipse cx=%221157.485%22 cy=%22824.044%22 rx=%222.088%22 ry=%221.837%22 fill=%22%23fff%22 opacity=%22.757%22%2F%3E%3Cellipse cx=%221379.274%22 cy=%22766.029%22 rx=%222.018%22 ry=%221.788%22 fill=%22%23fff%22 opacity=%22.098%22%2F%3E%3Cellipse cx=%221480.981%22 cy=%22727.839%22 rx=%222.287%22 ry=%221.809%22 fill=%22%23fff%22 opacity=%22.354%22%2F%3E%3Cellipse cx=%221743.833%22 cy=%22763.222%22 rx=%221.552%22 ry=%221.081%22 fill=%22%23fff%22 opacity=%22.486%22%2F%3E%3Cellipse cx=%221907.289%22 cy=%22806.055%22 rx=%221.205%22 ry=%221.115%22 fill=%22%23fff%22 opacity=%22.61%22%2F%3E%3Cellipse cx=%2232.487%22 cy=%22936.254%22 rx=%221.468%22 ry=%221.106%22 fill=%22%23fff%22 opacity=%22.409%22%2F%3E%3Cellipse cx=%22208.794%22 cy=%22940.871%22 rx=%221.492%22 ry=%221.299%22 fill=%22%23fff%22 opacity=%22.775%22%2F%3E%3Cellipse cx=%22564.598%22 cy=%22917.832%22 rx=%222.16%22 ry=%221.711%22 fill=%22%23fff%22 opacity=%22.725%22%2F%3E%3Cellipse cx=%22732.439%22 cy=%22926.295%22 rx=%221.657%22 ry=%221.221%22 fill=%22%23fff%22 opacity=%22.542%22%2F%3E%3Cellipse cx=%22837.052%22 cy=%22859.911%22 rx=%221.698%22 ry=%221.512%22 fill=%22%23fff%22 opacity=%22.013%22%2F%3E%3Cellipse cx=%221063.54%22 cy=%22936.078%22 rx=%221.984%22 ry=%221.492%22 fill=%22%23fff%22 opacity=%22.057%22%2F%3E%3Cellipse cx=%221376.757%22 cy=%22954.834%22 rx=%221.254%22 ry=%221.085%22 fill=%22%23fff%22 opacity=%22.568%22%2F%3E%3Cellipse cx=%221556.536%22 cy=%22918.866%22 rx=%221.968%22 ry=%221.84%22 fill=%22%23fff%22 opacity=%22.642%22%2F%3E%3Cellipse cx=%221762.272%22 cy=%22926.792%22 rx=%221.476%22 ry=%221.344%22 fill=%22%23fff%22 opacity=%22.008%22%2F%3E%3Cellipse cx=%221812.19%22 cy=%22953.604%22 rx=%221.394%22 ry=%221.293%22 fill=%22%23fff%22 opacity=%22.273%22%2F%3E%3Cellipse cx=%2252.493%22 cy=%22997.037%22 rx=%221.973%22 ry=%221.614%22 fill=%22%23fff%22 opacity=%22.482%22%2F%3E%3Cellipse cx=%22246.357%22 cy=%221057.725%22 rx=%221.706%22 ry=%221.411%22 fill=%22%23fff%22 opacity=%22.473%22%2F%3E%3Cellipse cx=%22448.514%22 cy=%221051.645%22 rx=%221.449%22 ry=%221.227%22 fill=%22%23fff%22 opacity=%22.342%22%2F%3E%3Cellipse cx=%22645.113%22 cy=%221055.953%22 rx=%221.868%22 ry=%221.77%22 fill=%22%23fff%22 opacity=%22.858%22%2F%3E%3Cellipse cx=%22816.578%22 cy=%221001.862%22 rx=%221.978%22 ry=%221.493%22 fill=%22%23fff%22 opacity=%22.841%22%2F%3E%3Cellipse cx=%221161.493%22 cy=%221076.232%22 rx=%221.151%22 ry=%221.027%22 fill=%22%23fff%22 opacity=%22.796%22%2F%3E%3Cellipse cx=%221297.652%22 cy=%221017.181%22 rx=%222.356%22 ry=%221.963%22 fill=%22%23fff%22 opacity=%22.532%22%2F%3E%3Cellipse cx=%221488.242%22 cy=%221070.291%22 rx=%221.624%22 ry=%221.401%22 fill=%22%23fff%22 opacity=%22.225%22%2F%3E%3Cellipse cx=%221678.638%22 cy=%22991.644%22 rx=%221.624%22 ry=%221.375%22 fill=%22%23fff%22 opacity=%22-.108%22%2F%3E%3Cellipse cx=%221953.706%22 cy=%221095.652%22 rx=%222.06%22 ry=%221.693%22 fill=%22%23fff%22 opacity=%22.448%22%2F%3E%3Cellipse cx=%22103.893%22 cy=%221124.059%22 rx=%221.159%22 ry=%221.138%22 fill=%22%23fff%22 opacity=%22.35%22%2F%3E%3Cellipse cx=%22237.505%22 cy=%221185.632%22 rx=%221.513%22 ry=%221.257%22 fill=%22%23fff%22 opacity=%22.204%22%2F%3E%3Cellipse cx=%22545.315%22 cy=%221243.478%22 rx=%222.02%22 ry=%221.946%22 fill=%22%23fff%22 opacity=%22.835%22%2F%3E%3Cellipse cx=%22604.482%22 cy=%221176.852%22 rx=%221.451%22 ry=%221.035%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%22877.464%22 cy=%221230.058%22 rx=%222.205%22 ry=%221.727%22 fill=%22%23fff%22 opacity=%22.578%22%2F%3E%3Cellipse cx=%221161.856%22 cy=%221149.003%22 rx=%221.594%22 ry=%221.118%22 fill=%22%23fff%22 opacity=%22.093%22%2F%3E%3Cellipse cx=%221380.143%22 cy=%221167.903%22 rx=%221.139%22 ry=%221%22 fill=%22%23fff%22 opacity=%22.109%22%2F%3E%3Cellipse cx=%221494.553%22 cy=%221201.402%22 rx=%222.137%22 ry=%221.827%22 fill=%22%23fff%22 opacity=%22.851%22%2F%3E%3Cellipse cx=%221666.941%22 cy=%221134.741%22 rx=%222.437%22 ry=%221.937%22 fill=%22%23fff%22 opacity=%22.618%22%2F%3E%3Cellipse cx=%221828.92%22 cy=%221237.158%22 rx=%221.722%22 ry=%221.421%22 fill=%22%23fff%22 opacity=%22-.041%22%2F%3E%3Cellipse cx=%22193.626%22 cy=%221387.441%22 rx=%222.241%22 ry=%221.994%22 fill=%22%23fff%22 opacity=%22.709%22%2F%3E%3Cellipse cx=%22288.221%22 cy=%221289.886%22 rx=%221.842%22 ry=%221.56%22 fill=%22%23fff%22 opacity=%22.413%22%2F%3E%3Cellipse cx=%22569.15%22 cy=%221393.681%22 rx=%221.655%22 ry=%221.515%22 fill=%22%23fff%22 opacity=%22.692%22%2F%3E%3Cellipse cx=%22711.46%22 cy=%221298.411%22 rx=%222.021%22 ry=%221.704%22 fill=%22%23fff%22 opacity=%22.243%22%2F%3E%3Cellipse cx=%22874.571%22 cy=%221292.273%22 rx=%222.154%22 ry=%221.9%22 fill=%22%23fff%22 opacity=%22-.11%22%2F%3E%3Cellipse cx=%221187.226%22 cy=%221265.68%22 rx=%221.884%22 ry=%221.627%22 fill=%22%23fff%22 opacity=%22-.11%22%2F%3E%3Cellipse cx=%221389.307%22 cy=%221319.449%22 rx=%221.807%22 ry=%221.624%22 fill=%22%23fff%22 opacity=%22.307%22%2F%3E%3Cellipse cx=%221517.835%22 cy=%221260.629%22 rx=%221.902%22 ry=%221.532%22 fill=%22%23fff%22 opacity=%22.129%22%2F%3E%3Cellipse cx=%221745.274%22 cy=%221284.468%22 rx=%221.492%22 ry=%221.193%22 fill=%22%23fff%22 opacity=%22.473%22%2F%3E%3Cellipse cx=%221905.679%22 cy=%221333.046%22 rx=%222.214%22 ry=%221.915%22 fill=%22%23fff%22 opacity=%22.806%22%2F%3E%3Cg transform=%22rotate(-60.569 559.829 -88.993)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22293.072%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-14.654%22 y=%22-12.8%22 width=%22117.229%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22175.843%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2261.877%22 cy=%22-39.499%22 r=%222.716%22 fill=%22%23fff%22 opacity=%22.698%22%2F%3E%3Ccircle cx=%2267.703%22 cy=%22-1.898%22 r=%222.596%22 fill=%22%23fff%22 opacity=%22.55%22%2F%3E%3Ccircle cx=%2238.26%22 cy=%2231.636%22 r=%221.719%22 fill=%22%23fff%22 opacity=%22.662%22%2F%3E%3Ccircle cx=%2261.132%22 cy=%22-38.52%22 r=%222.577%22 fill=%22%23fff%22 opacity=%22.562%22%2F%3E%3Ccircle cx=%2259.56%22 cy=%2211.245%22 r=%222.724%22 fill=%22%23fff%22 opacity=%22.565%22%2F%3E%3Ccircle cx=%2273.841%22 cy=%2218.794%22 r=%221.822%22 fill=%22%23fff%22 opacity=%22.599%22%2F%3E%3Ccircle cx=%2285.853%22 cy=%22-25.239%22 r=%221.777%22 fill=%22%23fff%22 opacity=%22.551%22%2F%3E%3Ccircle cx=%2286.273%22 cy=%2223.456%22 r=%221.202%22 fill=%22%23fff%22 opacity=%22.61%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-56.055 484.925 -756.627)%22%3E%3Crect x=%22-17.714%22 y=%22-12.8%22 width=%22141.708%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22212.562%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2265.964%22 cy=%22-32.438%22 r=%221.998%22 fill=%22%23fff%22 opacity=%22.557%22%2F%3E%3Ccircle cx=%2240.339%22 cy=%222.017%22 r=%222.824%22 fill=%22%23fff%22 opacity=%22.649%22%2F%3E%3Ccircle cx=%2281.817%22 cy=%22-13.925%22 r=%222.943%22 fill=%22%23fff%22 opacity=%22.569%22%2F%3E%3Ccircle cx=%2257.137%22 cy=%22-2.376%22 r=%221.951%22 fill=%22%23fff%22 opacity=%22.611%22%2F%3E%3Ccircle cx=%2258.906%22 cy=%2212.268%22 r=%222.775%22 fill=%22%23fff%22 opacity=%22.503%22%2F%3E%3Ccircle cx=%2296.724%22 cy=%22-31.426%22 r=%222.6%22 fill=%22%23fff%22 opacity=%22.5%22%2F%3E%3Ccircle cx=%2277.505%22 cy=%22-18.45%22 r=%222.205%22 fill=%22%23fff%22 opacity=%22.445%22%2F%3E%3Ccircle cx=%2277.987%22 cy=%22-3.318%22 r=%222.618%22 fill=%22%23fff%22 opacity=%22.478%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-56.797 1439.93 -1314.113)%22%3E%3Crect x=%22-13.691%22 y=%22-12.8%22 width=%22109.528%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22164.292%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2249.077%22 cy=%22-35.933%22 r=%222.114%22 fill=%22%23fff%22 opacity=%22.671%22%2F%3E%3Ccircle cx=%2248.283%22 cy=%22-37.313%22 r=%221.215%22 fill=%22%23fff%22 opacity=%22.471%22%2F%3E%3Ccircle cx=%2269.674%22 cy=%22-5.82%22 r=%221.359%22 fill=%22%23fff%22 opacity=%22.614%22%2F%3E%3Ccircle cx=%2249.642%22 cy=%2233.875%22 r=%222.299%22 fill=%22%23fff%22 opacity=%22.513%22%2F%3E%3Ccircle cx=%2254.595%22 cy=%226.023%22 r=%222.397%22 fill=%22%23fff%22 opacity=%22.629%22%2F%3E%3Ccircle cx=%2246.957%22 cy=%22-37.914%22 r=%222.792%22 fill=%22%23fff%22 opacity=%22.628%22%2F%3E%3Ccircle cx=%2277.108%22 cy=%2240.32%22 r=%222.293%22 fill=%22%23fff%22 opacity=%22.464%22%2F%3E%3Ccircle cx=%2259.701%22 cy=%22-23.09%22 r=%222.916%22 fill=%22%23fff%22 opacity=%22.482%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.697 986.017 -45.063)%22%3E%3Crect x=%22-16.477%22 y=%22-12.8%22 width=%22131.813%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22197.719%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2290.574%22 cy=%2231.122%22 r=%222.1%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Ccircle cx=%2284.717%22 cy=%22-13.015%22 r=%221.106%22 fill=%22%23fff%22 opacity=%22.618%22%2F%3E%3Ccircle cx=%2298.778%22 cy=%22-20.566%22 r=%221.05%22 fill=%22%23fff%22 opacity=%22.685%22%2F%3E%3Ccircle cx=%2248.561%22 cy=%221.292%22 r=%222.368%22 fill=%22%23fff%22 opacity=%22.636%22%2F%3E%3Ccircle cx=%2244.257%22 cy=%2241.36%22 r=%222.903%22 fill=%22%23fff%22 opacity=%22.63%22%2F%3E%3Ccircle cx=%2234.98%22 cy=%2211.911%22 r=%221.686%22 fill=%22%23fff%22 opacity=%22.565%22%2F%3E%3Ccircle cx=%2292.058%22 cy=%22-5.424%22 r=%222.297%22 fill=%22%23fff%22 opacity=%22.406%22%2F%3E%3Ccircle cx=%2235.276%22 cy=%223.386%22 r=%222.986%22 fill=%22%23fff%22 opacity=%22.666%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-63.681 1231.402 -599.364)%22%3E%3Crect x=%22-16.189%22 y=%22-12.8%22 width=%22129.51%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22194.264%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2282.872%22 cy=%22-4.752%22 r=%221.782%22 fill=%22%23fff%22 opacity=%22.506%22%2F%3E%3Ccircle cx=%2259.519%22 cy=%22-14.85%22 r=%222.416%22 fill=%22%23fff%22 opacity=%22.429%22%2F%3E%3Ccircle cx=%2244.244%22 cy=%2223.737%22 r=%221.347%22 fill=%22%23fff%22 opacity=%22.586%22%2F%3E%3Ccircle cx=%2286.662%22 cy=%2225.008%22 r=%222.819%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Ccircle cx=%2255.462%22 cy=%2221.419%22 r=%221.223%22 fill=%22%23fff%22 opacity=%22.596%22%2F%3E%3Ccircle cx=%2277.679%22 cy=%22-12.021%22 r=%221.567%22 fill=%22%23fff%22 opacity=%22.481%22%2F%3E%3Ccircle cx=%2239.347%22 cy=%22-40.361%22 r=%222.927%22 fill=%22%23fff%22 opacity=%22.42%22%2F%3E%3Ccircle cx=%2244.387%22 cy=%22-21.443%22 r=%221.248%22 fill=%22%23fff%22 opacity=%22.402%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-55.981 1824.765 -861.97)%22%3E%3Crect x=%22-10.608%22 y=%22-12.8%22 width=%2284.867%22 height=%2225.6%22 rx=%2225.6%22 ry=%2225.6%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22127.301%22 height=%228.3%22 rx=%228.3%22 ry=%228.3%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2231.09%22 cy=%22-17.973%22 r=%222.232%22 fill=%22%23fff%22 opacity=%22.43%22%2F%3E%3Ccircle cx=%2235.334%22 cy=%22-30.643%22 r=%221.293%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Ccircle cx=%2236.379%22 cy=%2232.911%22 r=%222.853%22 fill=%22%23fff%22 opacity=%22.503%22%2F%3E%3Ccircle cx=%2261.635%22 cy=%226.046%22 r=%222.259%22 fill=%22%23fff%22 opacity=%22.41%22%2F%3E%3Ccircle cx=%2260.27%22 cy=%2233.957%22 r=%221.41%22 fill=%22%23fff%22 opacity=%22.482%22%2F%3E%3Ccircle cx=%2232.892%22 cy=%2228.318%22 r=%221.268%22 fill=%22%23fff%22 opacity=%22.573%22%2F%3E%3Ccircle cx=%2263.384%22 cy=%2233.996%22 r=%221.641%22 fill=%22%23fff%22 opacity=%22.661%22%2F%3E%3Ccircle cx=%2237.179%22 cy=%22-17.279%22 r=%222.398%22 fill=%22%23fff%22 opacity=%22.499%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

